@import 'nib'
.root {
  height: 44px;
  display: flex;
  background linear-gradient(top, #2f337e, lighten(#2f337e, 30%))
}

.left,
.middle,
.right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.middle {
  flex: 3;
}

.right {
}
